.button {
    border: none;
    background-color: transparent;
    font-family: var(--font-primary), sans-serif;
    font-size: var(--font-xl);
    color: var(--accent1);
    padding: var(--spacing-xxs);
}

.button:hover {
    color: var(--accent2);
}