{/*Reset*/}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
{/*Font*/}
  --font-primary: "Noto Sans";
  --font-xl: 32px;
  --font-l: 21px;
  --font-m: 16px;
  --font-s: 14px;
  --font-xs: 12px;
{/*Spacing*/}
  --spacing-xxl: 160px;
  --spacing-xl: 80px;
  --spacing-l: 40px;
  --spacing-m: 20px;
  --spacing-s: 16px;
  --spacing-xs: 8px;
  --spacing-xxs: 4px;
{/*Colors*/}
  --black: #000000;
  --dark-grey: #606060;
  --grey: #808080;
  --light-grey: #d3d3d3;
  --white: #ffffff;
  --accent1: #FF0000;
  --accent2: #8b0000;
  --accent3: #ff4040;
}

